$main-bg-color: #203556;
$bg-hover: #1b2e4c;
$light-space-color: #423e6d;
$space-color: #131c28;
$darker-space-color: #0c1521;
$dark-gray: #3e454f;
$mid-gray: #7d8289;
$light-gray: #bcc1c6;
$hover: #e8e8e8;
$accent: #4d6c9b;
$accent-hover: #44618c;
$main-yellow: #ffe049;
$gold: #f7ad37;
$light-gray: #d8d8d8;
$apple-red: #a52727;
$apple-green: #3d8728;
$cookie-color: #ddab66;
$candy-blue: #44a3d6;

$arena-bg: #C1272D;
$space-img: url("../img/space1.jpg");