@import "global_variables";


.ShopInfographic {
  position: absolute;
  color:white;
  top: 100px;
  left: 50vw;
  width: 450px;
  height: 500px;
  margin-left: -250px;
  background: $main-bg-color;
  z-index: 999;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
}

.item-display {
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  padding-bottom: 10px;
}

.canPurchase {
  background: $accent;
}

.notPurchase {
 background:rgb(48, 50, 53);
}


.shop-button {
  margin-top:10%;
  margin-left:3%;
  margin-right:3%;
  outline: none;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  font-family: Nunito;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 20px;
}

.canPurchase:hover {
  background: $accent_hover;
  cursor: pointer;

}

#item-close {
  top: 10px;
  left: 450px;
}

#shop-item-info-blurb {
  width: 370px;
  margin: auto;
  margin-top: 10px;
}

#item-name {
  font-size: 32px;
  margin-bottom: 10px;
}

#shop-item-cost {
  margin-top: 0px;
}
